+popup-template(1, "Обратная связь","Благодарим за обращение. Наш менеджер перезвонит вам в ближайшее время.") 
	- var backCallField = [["text","Фио","col-12"],["phone","col-12"],["sumbit","О","col-12"],["checkbox","Я даю свое согласие на обработку персональных данных","col-12"],["submit","btn btn--orange btn-send","col-12"]];
	+form(backCallField)