+popup-template(99,'Поиск по сайту',false,0,'popup-search')
	- var searchField = [["text","Введите поисковой запрос ...","col-12 search-field"],["submit","btn btn-send btn--black","Поиск"]];
	+form(searchField)
	.popup-search-results
		h2 Реузльтаты
		.form-grid
			-for(var x = 0; x<4 ;x++)
				.popup-search-results-item
					h3 Category 
					ul.ln
						-for(var a = 0; a<5 ;a++)
							li
								a(href="#") link 1 