doctype html
html
	// head start
	include head.pug 
	// head end
	include ../components/connect-mixins.pug  
	body 
		// popup-menu start
		include ../blocks/popup/menu.pug 
		// popup-menu end
    
		// popup-form start
		include ../blocks/popup/backcall.pug
		// popup-form end

		// popup-search start
		include ../blocks/popup/search.pug
		// popup-search end

		// header start
		include ../blocks/header.pug
		// header end