include ../../components/default/build-header.pug

// header start

// header end
+roofContent("Забыли пароль")
- var forgotField = [["email","Email","col-12 require"],["submit","btn btn-send","Восстановить пароль"]];
	+form(forgotField) 

// footer start 
.stub-footer
include ../../components/default/footer.pug

// footer end  