include ../../components/default/build-header

// header start

// header end
+roofContent("Регистрация")
- var registrationField = [["email","Email","col-12 require"],["password","Пароль","col-12"],["submit","btn btn-send btn--green","Регистрация"]];
	+form(registrationField) 

// footer start 
.stub-footer
include ../../components/default/footer.pug

// footer end  