include ../../default/build-header
		
// header end
+roofContent("Новости")
	.news-catalog
			+newsItem("Радио OZON FM – инструмент поддержки  сотрудников в сезон распродаж","У сотрудников компании OZON появилась своя настоящая рок-волна, на которой есть всё, что нужно для успешной работы: хитовая музыка, полезные программы, живое общение с коллегами, много конкурсов и классных подарков. ","/images/temp/1.jpg","11.11.11")
			+newsItem("Радио OZON FM – инструмент поддержки  сотрудников в сезон распродаж","У сотрудников компании OZON появилась своя настоящая рок-волна, на которой есть всё, что нужно для успешной работы: хитовая музыка, полезные программы, живое общение с коллегами, много конкурсов и классных подарков. ","/images/temp/1.jpg","11.11.11")
	.main-full 
		+pagination()
	include ../home/feedback.pug
// footer start  

.stub-footer
include ../../blocks/footer.pug

// footer end 