include ../../components/default/build-header.pug
		
// header end
+roofContent("Детальная страница новостей")
	include ../../components/detail/header.pug
	include ../../components/detail/main.pug
	include ../../components/detail/recent-items.pug
	include ../../components/detail/reviews.pug


	
// slider thumbnails end

// footer start 
.stub-footer
include ../../components/default/footer.pug

// footer end  