include ../../default/build-header
		
// header end
+roofContent("Радио OZON FM – инструмент поддержки сотрудников в сезон распродаж")
	.main-grid.news-detail
		.col-6 
			p У сотрудников компании OZON появилась своя настоящая рок-волна, на которой есть всё, что нужно для успешной работы: хитовая музыка, полезные программы, живое общение с коллегами, много конкурсов и классных подарков.
			p Всё это и есть корпоративное радио, которое создали внутренние коммуникаторы вместе с MEGAPOLIS MEDIA, чтобы поддержать коллектив и дать им еще больше энергии для работы.
			p По запросу клиента для радио была реализована концепция рок-волны: «Высокий сезон – это время ROCK’a». В данной тематике было разработано музыкальное оформление и джинглы, а также контент для эфира. 
		.col-6 
			img(src="/images/temp/news-detail/1.jpg", alt="")
		.col-12 
			h2 Телерадиотрансляция «Рок-волна LIVE на OZON FM»
		.col-6 
			img(src="/images/temp/news-detail/1.jpg", alt="")
		.col-6 
			p У сотрудников компании OZON появилась своя настоящая рок-волна, на которой есть всё, что нужно для успешной работы: хитовая музыка, полезные программы, живое общение с коллегами, много конкурсов и классных подарков.
			p Всё это и есть корпоративное радио, которое создали внутренние коммуникаторы вместе с MEGAPOLIS MEDIA, чтобы поддержать коллектив и дать им еще больше энергии для работы.
			p По запросу клиента для радио была реализована концепция рок-волны: «Высокий сезон – это время ROCK’a». В данной тематике было разработано музыкальное оформление и джинглы, а также контент для эфира. 
		.col-12 
			h2 Корпоративное радио OZON FM 24/7
		.col-6 
			p У сотрудников компании OZON появилась своя настоящая рок-волна, на которой есть всё, что нужно для успешной работы: хитовая музыка, полезные программы, живое общение с коллегами, много конкурсов и классных подарков.
			p Всё это и есть корпоративное радио, которое создали внутренние коммуникаторы вместе с MEGAPOLIS MEDIA, чтобы поддержать коллектив и дать им еще больше энергии для работы.
			p По запросу клиента для радио была реализована концепция рок-волны: «Высокий сезон – это время ROCK’a». В данной тематике было разработано музыкальное оформление и джинглы, а также контент для эфира. 
		.col-6 
			img(src="/images/temp/news-detail/1.jpg", alt="")
	
// slider thumbnails end
include ../detail/detail-bottom.pug
include ../home/feedback.pug
// footer start 
.stub-footer
include ../../blocks/footer.pug

// footer end  