.cases-detail
  padding-top: 37px
.cases-main-info
  h1
    margin: 0 0 15px
    padding: 0
    text-align: left
  h2
    color: $orangeColor
    font-size: $standartSizePlus
    font-weight: 500
    margin: 0 0 30px
.cases-main-img
  height: 100%
  min-height: 270px
  border-radius: 20px
  background-position: center
.cases-main-text
  margin: 0 0 15px
.cases-main-detail
  margin-bottom: 30px
.cases-tasks
.cases-results-container
  text-align: center
  display: block
.cases-tasks-item
  height: 100%
  border: 1px solid $violetColor
  border-radius: 20px
  padding: 30px
  h3
    font-size: $mediumSize
    color: $violetColor
    margin: 0 0 5px
  p
    margin: 0 0 15px
    &:last-child
      margin: 0
.cases-results-item
  min-width: 250px
  margin: 0 auto
  text-align: center
  display: inline-block
  vertical-align: top
.cases-results-text
  max-width: 200px
  margin: 0 auto
.cases-results-circle
  display: inline-flex
  width: 130px
  height: 130px
  background-color: $violetColor
  border-radius: 100%
  text-align: center
  font-size: $largeSize
  color: $orangeColor
  margin: 0 0 15px
  b
    margin: auto
.cases-results-circle--large
  font-size: $hugesize

.cases-results-hint
  padding: 45px 0 0
  color: $grayColorSecond
  text-align: center
  font-size: $smallSizeSecond
.gallery-item
  height: 260px
  overflow: hidden
  position: relative
.cases-results-container
  text-align: center
@media (max-width: 768px)
  .cases-detail
    // max-width: 540px
    // margin: 0 auto
  .cases-tasks
    display: block
  .cases-tasks-item
    margin: 0 0 30px
@media (max-width: 576px)
  .cases-detail
    padding-top: 14px

  .cases-main-detail
    display: block
    h1
      margin: 0 0 0px
    h2
      font-size: 14px
      margin: 0 0 15px
      font-weight: 400
  .cases-main-img
    margin-bottom: 15px
  .cases-results-item
    width: 100%
  .cases-results-text
    max-width: 300px
