header
	.main-grid.headline
		.vertical-align.col-7.col-md-6.col-sm-5.col-xs-6
			a.logo(href="#") 
				img(src="/images/logo.svg", alt="")
			.nav-delimetr.hidden-md.hidden-sm.hidden-xs
			nav.nav-header.hidden-sm.hidden-xs
				ul.custom-disk
					each val in ["Услуги","Кейсы","Акции","О компании","Контакты"]
						li
							a(href="#")
								= val
		.vertical-align.col-5.col-md-4.col-sm-5.hidden-xs.feedback-header
			.phone-header
				a(href="#")  8 800 775-99-55
				.phone-circle 24/7
			a(href="#").btn.btn--orange.element-btn.hidden-sm(data-element="1") Обратная связь
		.hamburger-container.vertical-align.col-2.col-lg-2.col-xs-6.hidden-lg.hidden-md
			a(href="#").hamburger-btn.element-btn(data-element="0")
.stub