include ../default/build-header
// main start
include home/main.pug
// main end

// main page content start

include home/banners.pug
include home/zone.pug
include home/advantages.pug
include home/video.pug
include home/feedback.pug
include home/privilege.pug
include home/selections.pug
include home/feedback2.pug
include home/seo.pug
include home/tasks.pug
include home/marketing.pug
include home/partners.pug
include home/news.pug
include home/faq.pug


// main page content end

// footer start 

.stub-footer
include ../blocks/footer.pug

// footer end 