include ../components/default/build-header
// main start
include ../components/home/main.pug
// main end

// main page content start

include ../components/home/banners.pug
include ../components/home/zone.pug
include ../components/home/advantages.pug
include ../components/home/video.pug
include ../components/home/feedback.pug
include ../components/home/privilege.pug
include ../components/home/selections.pug
include ../components/home/feedback2.pug
include ../components/home/seo.pug
include ../components/home/tasks.pug
include ../components/home/marketing.pug
include ../components/home/partners.pug
include ../components/home/news.pug
include ../components/home/faq.pug


// main page content end

// footer start 

.stub-footer
include ../components/default/footer.pug

// footer end 