include ../../default/build-header

// header end
+roofContent("Блог")
	.catalog
		.main-grid
			+blogItem("/images/temp/news/1.jpg","17.03.2022","Жанры электронной музыки, которые лучше всего подходят как фоновая музыка","Блог")
			+blogItem("/images/temp/news/1.jpg","17.03.2022","Жанры электронной музыки, которые лучше всего подходят как фоновая музыка","Блог")
			+blogItem("/images/temp/news/1.jpg","17.03.2022","Жанры электронной музыки, которые лучше всего подходят как фоновая музыка","Блог")
			+blogItem("/images/temp/news/1.jpg","17.03.2022","Жанры электронной музыки, которые лучше всего подходят как фоновая музыка","Блог")
			+blogItem("/images/temp/news/1.jpg","17.03.2022","Жанры электронной музыки, которые лучше всего подходят как фоновая музыка","Блог")
			+blogItem("/images/temp/news/1.jpg","17.03.2022","Жанры электронной музыки, которые лучше всего подходят как фоновая музыка","Блог")
			+blogItem("/images/temp/news/1.jpg","17.03.2022","Жанры электронной музыки, которые лучше всего подходят как фоновая музыка","Блог")
			+blogItem("/images/temp/news/1.jpg","17.03.2022","Жанры электронной музыки, которые лучше всего подходят как фоновая музыка","Блог")
	.main-full  
		+pagination()
	include ../home/feedback.pug
// footer start  

.stub-footer
include ../../blocks/footer.pug

// footer end  