include ../../default/build-header
		
// header end
+roofContent("Радио OZON FM – инструмент поддержки сотрудников в сезон распродаж")
	.blog-detail-main
		.main-grid
			.col-5.col-sm-6.col-xs-12.blog-detail-info
				.blog-editor
					div
						.editor-cards
							.avatar-editor.img-cover
								img(src="/images/temp/avatar-1.jpg", alt="")
							.info-editor
									h3 Имя Фамилия
									div должность специалиста
						.text-editor
							| Качественный плейлист для заведения учитывает не только целевую аудиторию бизнеса, но и временные интервалы, и даже сезонность — об этом рассказал музыкальный редактор.
					.editor-bottom 
						.data 09 февраля 2022
						.views
							i.view-ico
							span 300
			.col-7.col-sm-6.hidden-xs
				.blog-detail-img
					.img-cover
						img(src="/images/temp/1.jpg", alt="")
	.main-full.blog-detail-content 
		h3 Почему важно использовать сезонные плейлисты
		p «Весной и летом высокий отклик находит вокальная европейская музыка — это хаус, фанк, диско, джаз. Латинские, кубинские мотивы, та же самая Despacito, отлично поднимают настроение. Мы используем эту весеннюю музыку для фона, например, в утреннее время. Как рассказывают наши клиенты, уже через пять-десять минут, перемещаясь по залу, они начинают напевать узнаваемые мелодии. Это и Алекс Гаудино, и Гаджи, и вся музыка нулевых, десятых, которая была популярна». – Ваша целевая аудитория должна слышать, что звучит знакомая ей музыка, тогда посетителям захочется возвращаться, чтобы снова и снова почувствовать положительные эмоции. 
		h3 Какая музыка должна быть в весеннем плейлисте
		p Наш многолетний опыт составления музыкальных подборок подтверждает, что латинский джаз —  востребованный у клиентов стиль музыки в весенний сезон. «Сальса, самба — такие легкие мелодии в акустических инструментальных версиях, задают легкое и веселое настроение, это красивая, весенняя музыка без слов для фона. Утром можно поставить латинский джаз, днем, если это торговый развлекательный центр или ресторан, используйте фанк, диско, джаз-хаус. А вечером будет уместна инструментальная музыка», — подмечает Панкратов.
		p 
			img(src="/images/temp/blog.jpg", alt="")
	.main-grid.blog-detail-bottom.detail-bottom
		.col-6
			.reviews-form
				.reviews-stars
						h3 Оцените статью
						.reviews-container
							i.star-ico.star-ico--gray
							i.star-ico.star-ico--gray
							i.star-ico.star-ico--gray
							i.star-ico.star-ico--gray
							i.star-ico.star-ico--gray
						.reviews-score 
							|Средняя: 
							span 4,00 
		.col-6
			.social-container
				h3 Поделиться статьей
				+social(["v","tl","ok","wz"])
	

include ../home/feedback.pug
// footer start 
.stub-footer
include ../../blocks/footer.pug

// footer end  