section
  .main-full.head-section
    h2.title-section
      |Отзыв о нашей работе
  .reviews-list
    +reviewsItem("Alex But","Должность специалиста") 
    +reviewsItem("Nanci Dri","Должность специалиста") 
    +reviewsItem("Nanci Dri","Должность специалиста", 1) 