include ../../default/build-header
		
// header end
+roofContent("Акции")
	.stock-catalog.main-full
		+stockItem("Весенние скидки на фоновую музыку","YRadio – комплекс инструментов аудиомаркетинга в одном решении","/images/temp/1.jpg","25 000","15 000","30.04.2022 г. ")
		+stockItem("Весенние скидки на фоновую музыку","YRadio – комплекс инструментов аудиомаркетинга в одном решении","/images/temp/1.jpg","25 000","15 000","30.04.2022 г. ")
	.main-full
		+pagination()
	include ../home/feedback.pug
// footer start 
.stub-footer
include ../../blocks/footer.pug

// footer end