include ../../default/build-header
		
// header end
+roofContent("Аудиобрендирование", false)
	.main-full
		.services-main-detail.main-grid
				.col-7
					.services-main-info
						h1 Корпоративное радио
						h2 Продавайте больше, будьте на связи 24/7.
						.btn-container 
							a.btn.btn--orange-v(href="#") Узнать подробнее
				.col-5
					.services-main-img 
						img(src="/images/temp/services/5.svg", alt="")
	section
		.main-full.head-section
			h2.title-section
				| Корпоративный информатор – Ваше слово важно
			h3.subtitle-section
				| Мотивируйте сотрудников, отмечая их результаты в прямом эфире. Доносите срочную информацию до любой торговой точки, поддерживайте дисциплину и помогайте коллегам зарабатывать.
		.main-grid.services-advantages
			.col-3.services-advantages-item 
				img(src="/images/temp/services/st-5.svg", alt="")
				h3. 
					Особенная атмосфера, узнаваемый уникальный саунд – выделяйтесь среди конкурентов.
			.col-3.services-advantages-item 
				img(src="/images/temp/services/st-6.svg", alt="")
				h3.
					Профессиональные рекламные ролики – интересно слушать, легко увеличивать продажи.
			.col-3.services-advantages-item 
				img(src="/images/temp/services/st-7.svg", alt="")
				h3.
					Органично встроенный в эфир информационный контент для обмена сообщениями и мотивации сотрудников.
			.col-3.services-advantages-item 
				img(src="/images/temp/services/st-8.svg", alt="")
				h3.
					Единая система управления контентом – меняйте треки, рекламные ролики, перебивки за 5 минут. Будьте на связи.
	include ../home/feedback.pug
	section.selection-section
		.main-full.head-section
			h2.title-section
				| Аудиобрендинг от YRadio – звучит по всей стране
		.main-grid
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")      
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")
	section
		.main-full.head-section
			h2.title-section
				|Раскройте уникальность Вашего бизнеса 
			h3.subtitle-section
				|Весь комплекс инструментов по созданию корпоративного радио в одном решении
		.main-grid.border-container
			.col-4
				.border-img-item 
					img(src="/images/temp/services/st-9.svg", alt="")
					p Подбор, доставка, монтаж и подключение оборудования за 14 дней
			.col-4
				.border-img-item 
					img(src="/images/temp/services/st-10.svg", alt="")
					p Техническое и гарантийное обслуживание в течение всего срока сотрудничества
			.col-4
				.border-img-item 
					img(src="/images/temp/services/st-10.svg", alt="")
					p Создание и обновление плейлистов лицензионной музыки
			.col-4
				.border-img-item 
					img(src="/images/temp/services/st-12.svg", alt="")
					p Профессиональная разработка рекламного и информационногоконтента
			.col-4
				.border-img-item 
					img(src="/images/temp/services/st-13.svg", alt="")
					p Автоматизированная система управления эфиром
			.col-4
				.border-img-item 
					img(src="/images/temp/services/st-14.svg", alt="")
					p Горячая линия 24/7 и поддержка персонального менеджера
	section
		.main-full.head-section
			h2.title-section
				| С YRadio Вы на одной волне c Вашими клиентами
		.main-grid.violet-container
			.col-4
				.violet-item
					|Особенная атмосфера, узнаваемый уникальный саунд – выделяйтесь среди конкурентов
			.col-4
				.violet-item
					|Экономия денег и времени – мы все сделаем за Вас
			.col-4
				.violet-item
					|Рост продаж – привлекаем музыкой новых клиентов, мотивируем постоянных покупать больше

	section
		.main-full.head-section
			h2.title-section
				|Этапы оформления
		.main-grid
			.col-4
				.cases-results-item 
					.cases-results-circle.cases-results-circle--large
						b 1
					.cases-results-text 
						| Оформление заявки на подключение. Проведение технического аудита и подбор оборудования бесплатно.
			.col-4
				.cases-results-item 
					.cases-results-circle.cases-results-circle--large 
						b x3
					.cases-results-text 
						| Согласование деталей и заключение договора на обслуживание.
			.col-4
				.cases-results-item 
					.cases-results-circle.cases-results-circle--large
						b x5
					.cases-results-text 
						| в 5 раз дольше клиент остается с Вами
			.col-12 
				.cases-results-hint * представлены усредненные результаты > 100 клиентов компании за период в 12 месяцев
	section
		.services-advantages-violet
			.main-full 
				h2 YRadio – мы работаем, чтобы у Вас покупали
			.main-grid
				.advantages-item.col-4.col-xs-12
					img.advantages-item-img(src= "/images/temp/services/sav-7.svg", alt="")
					h3 14 лет разрабатываем аудиобренды –  точно знаем, что хотят слышать клиенты
				.advantages-item.col-4.col-xs-12
					img.advantages-item-img(src= "/images/temp/services/sav-8.svg", alt="")
					h3 Собственная студия звукозаписи – профессиональная команда и оборудование  
				.advantages-item.col-4.col-xs-12
					img.advantages-item-img(src= "/images/temp/services/sav-9.svg", alt="")
					h3  Федеральная база голосов, более 100 дикторов и актеров – подберем голос  Вашему бизнесу 
	include ../home/feedback.pug

	section.marketing
		.main-full.head-section
			h2.title-section.
				<b>YRadio</b> уже подключили
		.main-grid.owl-tablet.owl-carousel
			-for (var i=0; i < 8; i++)
				+marketingItem("Торговый центр «Метрополис»","/images/temp/marketing.jpg","#торговые центры","Посмотреть")
	section.selection-section
		.main-full.head-section
			h2.title-section
				|Общайтесь с клиентами чаще – зарабатывайте больше
		.main-grid.violet-container
			.col-4
				.violet-item Аудиобрендирование помогает оставаться на связи с клиентами 24/7. 
			.col-4
				.violet-item Напоминайте о себе в магазинах, торговых центрах, на выставках, в офисе или в других точках продаж.
			.col-4
				.violet-item Используйте все инструменты аудибрендинга – будьте на шаг впереди конкурентов.
	include ../home/feedback.pug

	include ../home/seo.pug

.stub-footer
include ../../blocks/footer.pug

// footer end  