include ../../default/build-header
		
// header end
+roofContent("Фоновая музыка для Вашего бизнеса", false)
	.main-full
		.services-main-detail.main-grid
				.col-6
					.services-main-info
						h1 Фоновая музыка для Вашего бизнеса
						h2 Уникальная приятная атмосфера.
						.btn-container 
							a.btn.btn--orange-v(href="#") Попробовать 7 дней бесплатно
				.col-6
					.services-main-img 
						img(src="/images/temp/services/1.svg", alt="")
	section
		.main-grid.services-advantages
			.col-4.services-advantages-item 
				img(src="/images/temp/services/sa-1.svg", alt="")
				h3.
					1 000 000 + <br>
					легальных треков 
			.col-4.services-advantages-item 
				img(src="/images/temp/services/sa-2.svg", alt="")
				h3.
					800 + <br>
					универсальных плейлистов
			.col-4.services-advantages-item 
				img(src="/images/temp/services/sa-3.svg", alt="")
				h3.
					+ 20% <br>
					к среднему чеку каждого клиента 
	include ../home/feedback.pug
	section.selection-section
		.main-full.head-section
			h2.title-section
				|Музыкальные подборки для Вашего бизнеса
		.main-grid
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")
	section
		.main-full.services-qwiz 
			h2 Подобрать фоновую музыку
			p Фоновая музыка передает имидж бренда, благоприятно влияет на атмосферу и настроение клиентов. Маркетинговые исследования доказали, что музыкальное сопровождение обеспечивает рост продаж и среднего чека, повышение лояльности покупателей, узнаваемости бренда.
			p Пройдите опрос, и мы продумаем и сформируем плейлист специально для Вашего типа бизнеса.
			.qwiz-form 
				h2 Сфера Вашего бизнеса
				.qwiz-form-line
					input.input-decorate(type="text" placeholder="Введите название")
					div 
						a(href="#").btn.btn--orange  Далее
	section.services-advantages-violet
		.main-full 
			h2 Фоновая музыка от YRadio
			.subtitle Более 1 000 000 треков, которые помогают Вашим клиентам покупать больше и чаще
		.main-grid
			.advantages-item.col-4.col-xs-12
				img.advantages-item-img(src= "/images/temp/services/sav-1.svg", alt="")
				h3 + 3 дополнительных покупки на каждого клиента в месяц
			.advantages-item.col-4.col-xs-12
				img.advantages-item-img(src= "/images/temp/services/sav-2.svg", alt="")
				h3 +20% к среднему чеку 
			.advantages-item.col-4.col-xs-12
				img.advantages-item-img(src= "/images/temp/services/sav-3.svg", alt="")
				h3 + 30% к ежемесячной выручке
	section.selection-section
		.main-full.head-section
			h2.title-section
				|Создавайте особенную атмосферу и помогайте клиентам покупать с помощью музыки.
		.main-grid.violet-container
			.col-4
				.violet-item Музыкальное оформление вызывает приятные эмоции у клиентов. Концентрирует внимание на Ваших товарах и услугах, формируя лояльность к бренду.
			.col-4
				.violet-item Вам не нужно заставлять продавцов навязывать покупку. Клиенты сами будут оставаться у Вас дольше и с радостью, покупать больше и чаще.
			.col-4
				.violet-item Расскажите о новинках и акциях клиентам – добавьте в Ваш плейлист уникальный рекламный ролик, настройте время выхода ролика в эфир и увеличьте продажи.
	section.services-tasks
		.main-grid 
			.col-3
				.services-tasks-item
					.services-tasks-img 
						img(src="/images/temp/services/st-1.svg", alt="")
					h3 Море музыки и никаких штрафов
					.services-tasks-text 1 000 000 лицензированных уникальных треков в фонотеке.
			.col-3
				.services-tasks-item
					.services-tasks-img 
						img(src="/images/temp/services/st-2.svg", alt="")
					h3 Музыка для каждого покупателя
					.services-tasks-text 1 000 000 лицензированных уникальных треков в фонотеке.
			.col-3
				.services-tasks-item
					.services-tasks-img 
						img(src="/images/temp/services/st-3.svg", alt="")
					h3 Привилегия Ваших клиентов
					.services-tasks-text 1 000 000 лицензированных уникальных треков в фонотеке.
			.col-3
				.services-tasks-item
					.services-tasks-img 
						img(src="/images/temp/services/st-4.svg", alt="")
					h3 Привилегия Вашего бизнеса
					.services-tasks-text 1 000 000 лицензированных уникальных треков в фонотеке.
	include ../home/feedback.pug
	section.services-tariff
		.main-full.head-section
			h2.title-section
				|Тарифы
		.main-grid 
			.col-6
				.services-tariff-item
					div
						h3 Только музыка
						ul.custom-disk 
							li Количество плейлистов: 1
							li Количество треков в плейлисте: до 800
							li Персональный менеджер 24/7
					.services-tariff-bottom 
						ul.ln.services-tariff-price
							li Подключение: 300₽
							li Абонентская плата: 550₽
						div 
							a.btn.btn--orange-v(href="#") Подключить
			.col-6
				.services-tariff-item
					div
						h3 Музыка + Продажи
						ul.custom-disk 
							li Количество плейлистов: 1
							li Количество плейлистов: 1
							li Количество треков в плейлисте: до 800
							li Персональный менеджер 24/7
							li Возможность интеграции рекламных аудиороликов в эфир

					.services-tariff-bottom 
						ul.ln.services-tariff-price
							li Подключение: 300₽
							li Абонентская плата: 900₽
						div 
							a.btn.btn--orange-v(href="#") Подключить
	section.marketing
		.main-full.head-section
			h2.title-section.
				<b>YRadio</b> уже подключили

		.main-grid.owl-tablet.owl-carousel
			-for (var i=0; i < 8; i++)
				+marketingItem("Торговый центр «Метрополис»","/images/temp/marketing.jpg","#торговые центры","Посмотреть")
	section
		.main-full.fines
				h2 Использование нелицензированной музыки в торговых точках  приводит к огромным штрафам
				p Нельзя просто включить радио или музыку с флешки. Проигрывая музыку для клиентов, согласно “Закону об авторском праве”, необходимо оплатить вознаграждение правообладателю. При нарушении закона, в соответствии со статьями 1301, 1311 ГК РФ, предусмотрен штраф до 5 000 000 рублей.
				h3  Вложите 5 000 000 в бизнес, а не в оплату штрафа
				p А музыкальное оформление доверьте нам. Оставьте Ваш номер телефона. Мы ответим на все вопросы, подключим фоновую музыку на 7 дней бесплатно.
				.btn-container 
					a.btn.btn--orange-v(href="#")  Подключить
// footer start 
include ../home/feedback.pug
include ../home/seo.pug

.stub-footer
include ../../blocks/footer.pug

// footer end  