include ../../default/build-header
		
// header end
+roofContent("Аудиобрендирование", false)
	.main-full
		.services-main-detail.main-grid
				.col-7
					.services-main-info
						h1 Корпоративное радио
						h2 Продавайте больше, будьте на связи 24/7.
						.btn-container 
							a.btn.btn--orange-v(href="#") Попробовать 7 дней бесплатно
				.col-5
					.services-main-img 
						img(src="/images/temp/services/5.svg", alt="")
	section
		.main-grid.services-advantages
			.col-3.services-advantages-item 
				img(src="/images/temp/services/st-5.svg", alt="")
				h3. 
					Особенная атмосфера, узнаваемый уникальный саунд – выделяйтесь среди конкурентов.
			.col-3.services-advantages-item 
				img(src="/images/temp/services/st-6.svg", alt="")
				h3.
					Профессиональные рекламные ролики – интересно слушать, легко увеличивать продажи.
			.col-3.services-advantages-item 
				img(src="/images/temp/services/st-7.svg", alt="")
				h3.
					Органично встроенный в эфир информационный контент для обмена сообщениями и мотивации сотрудников.
			.col-3.services-advantages-item 
				img(src="/images/temp/services/st-8.svg", alt="")
				h3.
					Единая система управления контентом – меняйте треки, рекламные ролики, перебивки за 5 минут. Будьте на связи.
	include ../home/feedback.pug
	section.selection-section
		.main-full.head-section
			h2.title-section
				| Аудиобрендинг от YRadio – звучит по всей стране
		.main-grid
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")      
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
			+selectionItem("Рестораны","/images/temp/selections/4.jpg")
	section
		.main-full.head-section
			h2.title-section
				|Раскройте уникальность Вашего бизнеса 
			h3.subtitle-section
				|Весь комплекс инструментов по созданию корпоративного радио в одном решении
		.main-grid.border-container
			.col-4
				.border-img-item 
					img(src="/images/temp/services/st-9.svg", alt="")
					p Подбор, доставка, монтаж и подключение оборудования за 14 дней
			.col-4
				.border-img-item 
					img(src="/images/temp/services/st-10.svg", alt="")
					p Техническое и гарантийное обслуживание в течение всего срока сотрудничества
			.col-4
				.border-img-item 
					img(src="/images/temp/services/st-10.svg", alt="")
					p Создание и обновление плейлистов лицензионной музыки
			.col-4
				.border-img-item 
					img(src="/images/temp/services/st-12.svg", alt="")
					p Профессиональная разработка рекламного и информационногоконтента
			.col-4
				.border-img-item 
					img(src="/images/temp/services/st-14.svg", alt="")
					p Автоматизированная система управления эфиром
			.col-4
				.border-img-item 
					img(src="/images/temp/services/st-13.svg", alt="")
					p Горячая линия 24/7 и поддержка персонального менеджера
	section
		.main-full.head-section
			h2.title-section
				| С YRadio Вы на одной волне c Вашими клиентами
		.main-grid.violet-container
			.col-4
				.violet-item
					|Особенная атмосфера, узнаваемый уникальный саунд – выделяйтесь среди конкурентов
			.col-4
				.violet-item
					|Экономия денег и времени – мы все сделаем за Вас
			.col-4
				.violet-item
					|Рост продаж – привлекаем музыкой новых клиентов, мотивируем постоянных покупать больше

	section
		.main-full.head-section
			h2.title-section
				|Этапы оформления
		.main-grid.services-stage-grid
			.col-4
				.services-stage-item 
					div
						.services-stage-circle
							b 1
					.services-stage-text 
						| Оформление заявки на подключение. Проведение технического аудита и подбор оборудования бесплатно.
			.col-4
				.services-stage-item 
					div
						.services-stage-circle
							b 2
					.services-stage-text 
						| Согласование деталей и заключение договора на обслуживание.
						
			.col-4
				.services-stage-item 
					div
						.services-stage-circle
							b 3
					.services-stage-text 
						|	Доставка, монтаж и подключение оборудования за 14 дней.
			.col-2
			.col-4
				.services-stage-item 
					div
						.services-stage-circle
							b 4
					.services-stage-text 
						| Формирование плейлистов легальной музыки с учетом пожеланий и специфики бизнеса клиента. Разработка рекламного и информационного контента.
			.col-4
				.services-stage-item 
					div
						.services-stage-circle
							b 5
					.services-stage-text 
						| Предоставление персонального менеджера, который обеспечит актуальность и своевременную замену контента.
	include ../home/feedback.pug
	section
		.main-full.head-section
			h2.title-section
				|Тарифы
		.main-grid.tariff-radio-grid
			.col-4
				.tariff-radio-item
					.tariff-radio-head
						h3 Легкий старт
						h4 Для тех, кто ищет простое решение
					.tariff-radio-price 2800₽ в месяц 
					ul.custom-disk
						li Плейлист: Базовый
						li Музыкальный плейлистформата «лаунж»
						li MOST – ПО для управления звуковой трансляцией. Микросервер.
						li Персональный менеджер
						li Горячая линия  8-800-775-99-55
						li Техническая поддержка – сервисный ремонт и замена неисправного оборудования
						li 					li Стартовый пакет аудиороликов – имиджевый аудиоролик и голосовой джингл
						li 1 аудиоролик ежемесячно
					.btn-container
						a.btn.btn--orange-v(href="#")  Подключить
			.col-4
				.tariff-radio-item
					.tariff-radio-head
						h3 Стандарт 
						h4 Для тех, кто хочет увеличивать свои продажи
					.tariff-radio-price 3750₽ в месяц
					ul.custom-disk
						li Плейлист: 1 на выбор
						li Один профессиональный музыкальный плейлист из нашей коллекции на Ваш выбор
						li MOST – ПО для управления звуковой трансляцией. Микросервер.
						li Персональный менеджер
						li Горячая линия  8-800-775-99-55
						li Техническая поддержка – сервисный ремонт и замена неисправного оборудования
						li Стартовый пакет аудиороликов – имиджевый аудиоролик и голосовой джингл
						li 2 аудиоролика ежемесячно
					.btn-container
						a.btn.btn--orange-v(href="#")  Подключить
			.col-4
				.tariff-radio-item
					.tariff-radio-head
						h3 Премиум 
						h4 Для тех, кто использует максимум своих возможностей 
					.tariff-radio-price 4700₽ в месяц
					ul.custom-disk
						li Плейлист: Индивидуальный
						li Индивидуальная подборка треков из всей коллекции “Твоё Радио” под Ваш запрос
						li MOST – ПО для управления звуковой трансляцией. Микросервер.
						li Персональный менеджер
						li Горячая линия  8-800-775-99-55
						li Техническая поддержка – сервисный ремонт и замена неисправного оборудования
						li Стартовый пакет аудиороликов – имиджевый аудиоролик и голосовой джингл
						li 4 аудиоролика ежемесячно
					.btn-container
						a.btn.btn--orange-v(href="#")  Подключить
			.col-12
				.tariff-radio-hint 
					h3 Дополнительные опции:
					p Эксплуатация аудиотрансляционного комплекта:
					ul.custom-disk 
						li 1980₽/мес за каждые 100м2 внутренней озвучки 
						li 1950₽/мес за каждый источник внешней озвучки
						li Предоставление интернет-канала – 590₽/мес
					p - если оборудование использовалось в соответствии с условиями Договора-оферты

	section.marketing
		.main-full.head-section
			h2.title-section.
				<b>YRadio</b> уже подключили
		.main-grid.owl-tablet.owl-carousel
			-for (var i=0; i < 4; i++)
				+marketingItem("Торговый центр «Метрополис»","/images/temp/marketing.jpg","#торговые центры","Посмотреть")

	include ../home/zone.pug

	include ../home/feedback.pug

	include ../home/seo.pug

.stub-footer
include ../../blocks/footer.pug

// footer end  