include items/blog-item.pug
include items/card-item.pug
include items/reviews-item.pug
include items/advantages-item.pug
include items/banners-item.pug
include items/selections-item.pug
include items/tasks-item.pug
include items/marketing-item.pug
include items/privilege-item.pug
include items/contacts-item.pug

include items/stock-item.pug
include items/news-item.pug

include pagination.pug
include forms.pug 
include popup.pug 
include social.pug
include roof-content.pug 

include header/log-reg.pug 

