mixin social(val)
  .social
    - for (var i=0; i<val.length; i++)
        case val[i]
          when 'v'
            a(href="#")
              img(src="/images/social/vk-violet.svg", alt="")
              img.ico-hover(src="/images/social/vk-orange.svg", alt="")
          when 'vw'
            a(href="#").social-ico--white
              img(src="/images/social/vk-white.svg", alt="")
              img.ico-hover(src="/images/social/vk-orange.svg", alt="")
          when 'i'
            a(href="#")
              img(src="/images/social/instagram.svg", alt="")
              img(src="/images/social/instagram.svg", alt="")
          when 'iw'
            a(href="#").social-ico--white
              img(src="/images/social/instagram-white.svg", alt="")
          when 'tw'
            a(href="#")
              img(src="/images/social/twitter.svg", alt="")
              img(src="/images/social/twitter.svg", alt="")
          when 'tww'
            a(href="#").social-ico--white
              img(src="/images/social/twitter-white.svg", alt="")
          when 'f'
            a(href="#")
              img(src="/images/social/facebook.svg", alt="")
              img(src="/images/social/facebook.svg", alt="")
          when 'fw'
            a(href="#").social-ico--white
              img(src="/images/social/facebook-white.svg", alt="")
          when 'y'
            a(href="#")
              img(src="/images/social/youtube.svg", alt="")
              img(src="/images/social/youtube.svg", alt="")
          when 'yw'
            a(href="#").social-ico--white
              img(src="/images/social/youtube-white.svg", alt="")
              img(src="/images/social/youtube-white.svg", alt="")
          when 'g'
            a(href="#")
              img(src="/images/social/google.svg", alt="")
              img(src="/images/social/google.svg", alt="")
          when 'gw'
            a(href="#").social-ico--white
              img(src="/images/social/google-white.svg", alt="")
          when 'tl'
            a(href="#")
              img(src="/images/social/telegram-violet.svg", alt="")
              img.ico-hover(src="/images/social/telegram-orange.svg", alt="")
          when 'tlw'
            a(href="#").social-ico--white
              img(src="/images/social/telegram-white.svg", alt="")
              img.ico-hover(src="/images/social/telegram-orange.svg", alt="")
          when 'ok'
            a(href="#").social-ico--white
              img(src="/images/social/ok-violet.svg", alt="")
              img.ico-hover(src="/images/social/ok-orange.svg", alt="")
          when 'okw'
            a(href="#").social-ico--white
              img(src="/images/social/ok-white.svg", alt="")
              img.ico-hover(src="/images/social/ok-orange.svg", alt="")
          when 'wz'
            a(href="#").social-ico--white
              img(src="/images/social/whatsapp-violet.svg", alt="")
              img.ico-hover(src="/images/social/whatsapp-orange.svg", alt="")
          when 'wzw'
            a(href="#").social-ico--white
              img(src="/images/social/whatsapp-white.svg", alt="")
              img.ico-hover(src="/images/social/whatsapp-orange.svg", alt="")
        