/*-checkbox-start-*/

.checkbox,
.radio
	display: inline-block
	position: relative
	padding: 5px
	padding-left: 37px
	cursor: pointer
	user-select: none
	margin: 0 0 15px

	input
		@include positionElement(100%, 100%)
		opacity: 0

		&:checked~span
			&:after
				display: block

	span
		@include positionElement(24px, 24px, 0px, 3px)
		background-color: $grayColorThree
		cursor: pointer
		&:after
			content: ""
			cursor: pointer
			@include positionElement(100%, 100%, 0px, 0px)
			@include bgImageEl("../images/controls/checkbox.svg")
			display: none

/*-checkbox-wp-*/
