.input-decorate,
.custom-select
	padding: 5px
	border: 0
	border: 1px solid $blackColor
	font: inherit
	resize: none
	width: 100%
	background: none
	margin: 0 0 15px
	&:focus
		outline: 0
.file-decorate-error span,
.input-error
	border-color: $redColor
.mail-error
	border-color: $orangeColor

.form
	.btn
		margin: 15px 0
	&.main-grid
		padding: 0
.form-btn-container
	position: relative

/*-checkbox-end-*/
