section.advantages
	.main-grid 
		+itemAdvantages("Уникальные плейлисты и эксклюзивная музыка — легально" ,"/images/temp/adv/adv-1.svg")
		+itemAdvantages("Монтаж и подключение оборудования —бесплатно" ,"/images/temp/adv/adv-2.svg")
		+itemAdvantages("Создание аудиороликов — профессионально" ,"/images/temp/adv/adv-3.svg")
		+itemAdvantages("Единая система управления контентом —удобно" ,"/images/temp/adv/adv-4.svg")