section  
  .main-full
    h2 Обратная связь
    - var feedback = [["text","Фио","col-4 require"],["phone","col-4 require"],["email","Email","col-4"],["textarea","Ваше сообщение","col-12"],["checkbox","Я даю свое согласие на обработку персональных данных","col-12"],["submit","btn btn-send btn--black","col-12","Отправить"]];
    +form(feedback)