section.feedback.section-padding-null
  .main-grid
    .col-1.hidden-sm
    .col-5.feedback-info.col-sm-6
      h2 Подарите голос вашему бизнесу
      h3 Получите бесплатный  плейлист легальной музыки
      div Оставьте ваши контакты, мы свяжемся с Вами и подберем музыку именно для вашего бизнеса.
    .col-5.col-sm-6
      - var feedback = [["text","Ваше имя*","col-12 require"],["phone","col-12 require"],["checkbox","Я согласен(-на) на обработку персональных данных ","col-12 agreement"],["submit","btn btn-send btn--orange","col-12","Отправить"]];
      +form(feedback)