section.feedback.section-padding-null
  .main-grid
    .col-1.hidden-lg
    .col-5.feedback-info.col-lg-6
      h2 Узнайте, как создать идеальный плейлист для Вашего бизнеса
    .col-5.col-lg-6
      - var feedback = [["text","Ваше имя*","col-12 require"],["phone","col-12 require"],["checkbox","Я согласен(-на) на обработку персональных данных ","col-12 agreement"],["submit","btn btn-send btn--orange","col-12","Отправить"]];
      +form(feedback)