section.feedback
  .main-grid
    .col-1
    .col-5
      h2 Узнайте, как создать идеальный плейлист для Вашего бизнеса
    .col-5
      - var feedback = [["text","Ваше имя*","col-12 require"],["phone","col-12 require"],["checkbox","Я согласен(-на) на обработку персональных данных ","col-12"],["submit","btn btn-send btn--orange","col-12","Отправить"]];
      +form(feedback)