.main_home
  .main_home-item
    .img-cover
      img(src="/images/main-home-bg.svg", alt="")
    .main_home-content
      .main-full
        h2 
          span Y
          | Radio
        h3 Система управления аудиомаркетингом
        .main_home-text Корпоративный канал радиовещания: фоновая музыка, рекламные и информационные ролики. Создайте особую атмосферу в ваших торговых точках, привлекайте новых клиентов, увеличивайте продажи.
        .btn-container 
          a.btn.btn--orange(href="#") Подключить
          br
          a.btn.btn--link(href="#") Подробнее 
