-var itemCol = 4
section
	.main-full.head-section
		h2.title-section 
			| Новые публикации
	.main-grid 
		-for (var i=0; i < itemCol; i++)
			+itemDefault("news", itemCol,false,"/images/temp/1.jpg","11.11.11","Lodio quae atqu send to me Lodio quae atqu send to me Lodio quae atqu send to me Lodio quae atqu send to me Lodio quae atqu send to me...","link","Блог","link")
