
section
	.main-full.head-section
		h2.title-section 
			| Новые публикации
	.main-grid.owl-mobile.owl-carousel 
			+itemNews("/images/temp/news/1.jpg","17.03.2022","Жанры электронной музыки, которые лучше всего подходят как фоновая музыка","Блог")
			+itemNews("/images/temp/news/2.jpg","17.03.2022","YRadio предлагает новые подборки для ресторанов по доступным ценам","Блог")
			+itemNews("/images/temp/news/3.jpg","17.03.2022","Влияние музыки на настроение покупателей","Блог")
			+itemNews("/images/temp/news/4.jpg","17.03.2022","Фоновая акустическая музыка","Блог")
