section
	.main-grid.owl-mobile.owl-carousel
		+itemPrivilege("Сделаем привлекательнее","/images/temp/privilege/privilege-1.svg","Приятная музыка в магазине создает уникальную атмосферу – Вашим клиентам нравится покупать именно у Вас.")
		+itemPrivilege("Защитим от рисков","/images/temp/privilege/privilege-2.svg","100% легальный контент. Риски получения штрафов за нарушение авторских прав стремятся к нулю. Почему я могу получить штраф?")
		+itemPrivilege("Увеличим продажи","/images/temp/privilege/privilege-3.svg","Своевременная трансляция аудиорекламы  проинформирует покупателей о выгодных предложениях.")

