section
	.main-grid 
		+itemDefault("privilege", 3,"Сделаем привлекательнее","/images/temp/privilege/privilege-1.svg",false,"Приятная музыка в магазине создает уникальную атмосферу – Вашим клиентам нравится покупать именно у Вас.")
		+itemDefault("privilege", 3,"Защитим от рисков","/images/temp/privilege/privilege-2.svg",false,"100% легальный контент. Риски получения штрафов за нарушение авторских прав стремятся к нулю. Почему я могу получить штраф?")
		+itemDefault("privilege", 3,"Увеличим продажи","/images/temp/privilege/privilege-3.svg",false,"Своевременная трансляция аудиорекламы  проинформирует покупателей о выгодных предложениях.")

