section.tasks
	.main-full.head-section
		h2.title-section 
			|Какие задачи мы решаем
	.main-grid.owl-tablet.owl-carousel
		+itemTasks("Экономим Ваш бюджет","Не нужно покупать дорогостоящее аудиотрансляционное оборудование, нанимать монтажников, нести затраты на обслуживание и ремонт.","../images/temp/tasks/1.svg")
		+itemTasks("Бережем Ваше время","Установим оборудование “под ключ” за 14 рабочих дней в любой точке РФ.","../images/temp/tasks/2.svg")
		+itemTasks("Привлекаем новых клиентов","Озвучиваем внутреннюю зону (торговую площадь), внешнюю зону: входную группу, фасад здания, парковку. За счет этого формируем клиентопоток.","../images/temp/tasks/3.svg")
		+itemTasks("Повышаем средний чек и количество покупок","Располагаем клиентов к покупке приятной музыкой, информируем о выгодных предложениях, скидках и акциях с помощью рекламных аудиороликов.","../images/temp/tasks/4.svg")