section.zone
  .main-full 
    h2.title-section Звучим на всю страну
    h3.subtitle-section Подключаем систему аудиомаркетинга по всей России
  .main-full
    .zone-map
      span Наша зона покрытия
  .main-grid
    .zone-item.col-4 
      h3 Мы работаем по всей территории Российской федерации
    .zone-item.col-4 
      h3 Аренда, доставка, монтаж и подключение оборудования 
        span Бесплатно за 14 дней
    .zone-item.col-4 
      h3 Гарантийное обслуживание на весь срок сотрудничества