.about-head
  text-align: center
  margin-bottom: 45px
  max-width: 1200px
  h2
    font-size: $mediumSizePlusPlus
    color: $violetColor

  h3,h4
    color: $orangeColor
    font-size: $mediumSize
    font-weight: 400
  h4
    font-weight: 700
.about-team-slider
  max-width: 930px
  padding-bottom: 45px
  margin-bottom: 75px
.about-team-item
  border: 1px solid $grayColorSecond
  border-radius: 20px
  padding: 0
  position: relative
  overflow: hidden
  gap: 0
  h3
    font-size: $standartSizePlus
    color: $violetColor
    font-weight: 500
  h4
    font-weight: 400
    font-size: $smallSizeSecond
    margin: 0 0 15px
  .text
    font-size: $smallSizeSecond
.about-team-face
  position: relative
  .img-cover
    @include positionElement(100%,100%,0,0)
    background-position: center
.about-team-info
  padding: 30px 30px 30px 45px
@media (max-width: 576px)
  .about-head
    h2
      font-size: 24px
    h3,h4
      font-size: 18px
  .about-team-info
    padding: 30px
  .about-team-face
    padding-bottom: 80%
