include ../../default/build-header
		
// header end
+roofContent("Оплата и документы")

	.paydoc-catalog
		.main-full 
			h3.paydoc-topic Выберите подходящий тарифный план:
		.main-full
			+paydocItem("Легкий старт","YRadio – комплекс инструментов аудиомаркетинга в одном решении","/images/temp/1.jpg","25 000","15 000","30.04.2022 г. ")
			+paydocItem("Стандарт","YRadio – комплекс инструментов аудиомаркетинга в одном решении","/images/temp/1.jpg","25 000","15 000","30.04.2022 г. ")
		.main-full.paydoc-allinfo
			| Оплата Абонентской платы производится путем 100 (сто) % предоплаты в следующем порядке:
			ul.custom-disk
				li За первый (неполный) и второй календарный месяц – в течение 3 (трех) рабочих дней с даты подписания Сторонами Актаприема-передачи;
				li Сроки оплаты последующих периодов устанавливаются для каждого Абонента индивидуально в Заказ-договоре.
				li Услуги НДС не облагаются в связи с применением Оператором упрощенной системы налогообложения.
				li Оплата осуществляется путем перечисления денежных средств по реквизитам Оператора, указанным в счете. Датой оплаты, считается дата зачисления денежных средств на расчетный счет Оператора.
		.main-full.paydoc-links 
			h3.paydoc-topic Документы
			div
				a.download-link
					span Договор-оферта музыкально-информационного потокового вещания
					i 
			div
				a.download-link
					span Договор-оферта музыкально-информационного вещания
					i 
	include ../home/feedback.pug
// footer start 
.stub-footer
include ../../blocks/footer.pug

// footer end  