.default-item
  text-decoration: none
  border: 1px solid $grayColorSecond
  border-radius: 20px
  overflow: hidden
  a
    text-decoration: none
    color: $violetColor
    &:hover
      color: $orangeColor
  h3
    font-size: $mediumSize
    margin: 0 0 15px
    a:hover
      color: $greenColor
.default-item-img
  margin: 0 0 15px
  padding-bottom: 60%
  height: auto
  img
    @include positionElement(100%,100%,0,0)
.default-item-info
  padding: 15px 30px
.default-item-description
  overflow: hidden
  display: -webkit-box
  -webkit-line-clamp: 4
  -webkit-box-orient: vertical
  line-clamp: 4
  margin: 0 0 15px

.default-item-bottom
  display: flex
  justify-content: space-between
  a
    text-decoration: underline
