section.advantages
	.main-grid.owl-mobile.owl-carousel
		+advantagesItem("Уникальные плейлисты и эксклюзивная музыка — легально" ,"/images/temp/adv/adv-1.svg")
		+advantagesItem("Монтаж и подключение оборудования —бесплатно" ,"/images/temp/adv/adv-2.svg")
		+advantagesItem("Создание аудиороликов — профессионально" ,"/images/temp/adv/adv-3.svg")
		+advantagesItem("Единая система управления контентом —удобно" ,"/images/temp/adv/adv-4.svg")