section.section-padding-null.banners
	.main-grid.owl-mobile.owl-carousel
		+itemBanner("/images/temp/home/banners-ico-1.svg","Уникальная приятная атмосфера","Фоновая музыка для Вашего бизнеса", "Звучите легально и профессионально")
		+itemBanner("/images/temp/home/banners-ico-2.svg","Голос вашего бизнеса","Корпоративное радио", "Продавайте больше, будьте на связи 24/7")
		+itemBanner("/images/temp/home/banners-ico-3.svg","Визитная карточка вашего бренда","Аудио - брендирование", "Раскройте индивидуальность вашей компании")
		+itemBanner("/images/temp/home/banners-ico-4.svg","Фундамент партнерских отношений ","Рекламная площадка", "Размещайте рекламу партнеров – зарабатывайте вместе")
		+itemBanner("/images/temp/home/banners-ico-5.svg","Автоматизация бизнес процессов","Корпоративный информатор", "Будьте с коллегами на одной волне")
		+itemBanner("/images/temp/home/banners-ico-6.svg","Официальный язык ваших продаж","Производство  аудиороликов", "Расскажите клиентам о важных событиях, акциях или скидках")
		+itemBanner("/images/temp/home/banners-ico-7.svg","Эксклюзивность вашего бренда","Лицензия РАО и ВОИС", "Популярная музыка известных исполнителей в вашем эфире")
		+itemBanner(false,false,"Известные исполнители и популярные треки в вашем эфире", "Отправим список рекомендуемых эксклюзивных треков для вашего бизнеса.", true)
