
section.blog
	.main-full.head-section
		h2.title-section 
			| Новые публикации
	.main-grid.owl-tablet.owl-carousel 
		+blogItem("YRadio предлагает новые подборки для ресторанов по доступным ценам","/images/temp/news/1.jpg","блог","17.03.2022")

