section.marketing
	.main-full.head-section
		h2.title-section 
			|Аудиомаркетинг от 
			span Y
			|Radio
		h3.subtitle-section 
			| Наши клиенты
	.main-grid.owl-mobile.owl-carousel
		-for (var i=0; i < 8; i++)
			+marketingItem("Торговый центр «Метрополис»","../images/temp/marketing.jpg","#торговые центры","Посмотреть")
	.btn-container_section
		a.btn.btn--orange(href="#") Оформить заявку на подключение  
		a.btn.btn--link(href="#") Посмотреть кейсы  