section.selection-section
	.main-full.head-section
		h2.title-section 
			|Наши подборки
		h3.subtitle-section
			|Составляем тематические плейлисты, походящие для вашей сферы бизнеса
	.main-grid.owl-mobile.owl-carousel
		+selectionItem("Наши подборки",false,"Составляем тематические плейлисты, походящие для вашей сферы бизнеса") 
		+selectionItem("Магазины и супермаркеты","/images/temp/selections/1.jpg")     
		+selectionItem("Гостиницы и отели","/images/temp/selections/2.jpg")     
		+selectionItem("Бары","/images/temp/selections/3.jpg")     
		+selectionItem("Рестораны","/images/temp/selections/4.jpg")     
		+selectionItem("Кафе, кальянные, пекарни","/images/temp/selections/5.jpg")     
		+selectionItem("Магазины одежды","/images/temp/selections/6.jpg")     
		+selectionItem("Салоны красоты","/images/temp/selections/7.jpg")     
		+selectionItem("Спортзалы и фитнес","/images/temp/selections/8.jpg")     
		