section
  .main-full.head-section
    h2.title-section 
      span Y
      |Radio 
      br
      |Комплекс инструментов аудиомаркетинга в одном решении
  .main-full
    .video-container
      .video-btn