mixin cardItem(col, name, img, price, priceSecond, text, btnClass, btnText)
	.card-item(class="col-"+(12/col))
		.card-img(href="#")
			img(src= img, alt="")
		h3
			a(href="#")= name
		.card-description
			= text
		.card-reating
			.card-grade 
				i.star-ico
				span 4.7
			.card-rew
				i.review-ico
				span 30
			.card-code
				b Код товара: 
				span 21349532
		if price
			.card-sale
				.card-price
					if price
						.card-price--current= price 
							span ₽
					if priceSecond
						.card-price--second= priceSecond 
							span  ₽
				.btn-container
					a(href="#" class= btnClass)
						span= btnText
						i.basket-ico
		.card-stock
			|В наличии 
			a(href="#") 
				span в 63 магазинах


