mixin paydocItem( name, prevtext, img, price, priceSecond, data, type)
	.paydoc-item.main-grid
		.col-7.col-sm-12.paydoc-item-info
			h3
				= name
				span.paydoc-tag Выбор пользователей
			.paydoc-item-description
				= prevtext
			.paydoc-item-list
				ul.custom-disk
					li MOST – ПО для управления звуковой трансляцией. Микросервер.
					li БАЗОВЫЙ ПЛЕЙЛИСТ – профессиональный музыкальный плейлист формата лаунж
					li ПЕРСОНАЛЬНЫЙ МЕНЕДЖЕР
					li ГОРЯЧАЯ ЛИНИЯ:  8-800-775-99-55
					li ТЕХНИЧЕСКАЯ ПОДДЕРЖКА – сервисный ремонт и замена неисправного оборудования*
					li СТАРТОВЫЙ ПАКЕТ АУДИОРОЛИКОВ – имиджевый аудиоролик и голосовой джингл
					li 1 РОЛИК-ОБЪЯВЛЕНИЕ ЕЖЕМЕСЯЧНО
		.col-5.col-sm-12.paydoc-item-offer
			.paydoc-item-price
				div от 25 000₽
				span в месяц
			.btn-container
				a.btn.btn--orange-v(href="#") Оформить заявку