mixin privilegeItem( name, img, text, link)
	.privilege-item.col-4.col-xs-12
		.privilege-item-img.img-cover
			img(src= img, alt="")
		h3
			=name
		.privilege-item-description
			= text
		if link
			a.privilege-link.element-btn(href="#" data-element="10") Почему я могу получить штраф? 
