mixin selectionItem(name,img,text)
  if text 
    .selection-item.selection-item--extra.hidden-xxl.hidden-lg.hidden-md.col-3.col-sm-4.col-xs-12 
      h3= name 
      .selection-item-text= text
  else
    .selection-item.col-3.col-sm-4.col-xs-12 
      .selection-item-img.img-cover
        img(src=img)
      .selection-item-line
        .selection-item-line--active
          .selection-item-circle 
      .selection-item-info
        div
          .selection-item-control 
        h3= name 