include ../../default/build-header
		
// header end
+roofContent("О компании")

	
	include parts/main.pug
	include parts/services.pug
	include parts/team.pug
	include parts/numbers.pug
	include parts/possibility.pug
	include parts/advantages.pug
	include parts/reviews.pug
	include parts/geography.pug
	include ../home/partners.pug
	include ../home/feedback.pug
// footer start 
.stub-footer
include ../../blocks/footer.pug

// footer end