.faq-item
  border: 1px solid $grayColorSecond
  border-radius: 20px
  margin: 0 0 $remSize
  padding: 0 $remSize 0
.faq-container
  max-width: 980px
.faq-head
  padding: $remSize 0 0
  display: flex
  h3
    font-size: $standartSizePlus
    color: $violetColor
  i
    margin-left: auto
    @include icoEl(18px, 18px, "../images/plus-violet.svg",)
.faq-content
  position: relative
  overflow: hidden
  padding-top: $remSize
  max-height: 0
.faq-item--active
  h3
    color: $orangeColor
  i
    background-image: url("../images/minus-orange.svg")
  .faq-content
    max-height: 999px
    padding-bottom: $remSize
