.feedback
  h2
    color: $violetColor
    font-size: $mediumSizePlus
    margin-bottom: $remSize
  h3
    color: $orangeColor
    font-size: $standartSizePlus
    font-weight: 400
    margin-bottom: $remSize
  .feedback-info
    max-width: 410px
  .form-btn-container
    text-align: center
  .agreement
    font-size: $smallSizeSecond
@media (max-width: 576px)
  .feedback
    h2
      font-size: $mediumSize
  .feedback-info
    text-align: center
