.marketing-item
  border: 1px solid $grayColorSecond
  position: relative
  overflow: hidden
  border-radius: 20px
  margin: 0 0 ($remSize*2)
  a
    text-decoration: none
  h3
    font-size: $standartSizePlus
    color: $violetColor
    margin: 0 0 26px
    line-height: 1.6
    a:hover
      color: $orangeColor
.marketing-item-hash
  font-size: $smallSize
.marketing-item-info
  padding: 15px 30px
.marketing-item-img
  height: 210px
.marketing-item-bottom
  display: flex
  justify-content: space-between
.marketing-item-link
  color: $violetColor
  margin: auto 0
  font-weight: 500
  font-size: $smallSizeSecond
  a
    text-decoration: underline
  &:hover
    color: $orangeColor
    a
      text-decoration: none
@media (max-width: 1024px)
  .marketing-item h3
    margin: 0 0 15px
  .marketing-item-info
    padding: 15px 15px
  .marketing-item-hash.mobile
    display: block
