.partners
  position: relative
  overflow: hidden
  .owl-stage-outer
    // overflow: visible
.partners-container
  text-align: center
.partners-item
  display: inline-block

  margin: 0 15px
  img
    width: 130px
    height: 110px
    object-fit: contain
@media (max-width: 576px)
  // .partners-container
  //   width: 80%
