.video-container
  max-width: 1130px
  height: 400px
  position: relative
  margin: 0 auto
  overflow: hidden
  border-radius: 20px
  background-image: url("../images/temp/video-bg.svg")
  display: flex
.video-btn
  position: relative
  margin: auto
  cursor: pointer
  @include icoEl(100px, 100px, "../images/video-btn.svg")
