.zone
	padding-bottom: 75px
	.head-section
		margin-bottom: 0
.zone-map
	height: 560px
	@include bgImageEl("../images/zone.jpg", contain)
	display: flex
	text-align: center
	color: $violetColor
	margin: 0 0 $remSize
	span
		display: inline-block
		margin: auto
		font-size: $largeSize
		font-weight: 400
		padding-top: 90px
.zone-item
	font-size: $standartSizePlus
	font-family: 500
	max-width: 300px
	margin: 0 auto
	h3
		font-size: inherit
		font-weight: 500
		line-height: 1.8
		color: $violetColor
		span
			color: $orangeColor
@media (max-width: 768px)
	.zone-map
		height: 350px
