include ../../default/build-header

// contacts page content start
+roofContent("Карта сайта")
	.page.main-grid
		.col-1.hidden-xs.hidden-sm.hidden-md
		.col-4.col-md-6.col-xs-12
			.mapsite
				ul.ln
					li  
						a(href="#") Главная YRadio
					li  
						a(href="#") О компании
					li  
						a(href="#") Акции
					li  
						a(href="#") Услуги (Общий раздел)
					ul.custom-disk
						li  
							a(href="#") Фоновая музыка
						li  
							a(href="#") Корпоративное радио
						li  
							a(href="#") Аудиобрендирование
						li  
							a(href="#") Рекламная площадка
						li  
							a(href="#") Корпоративный информатор
						li  
							a(href="#") Производство аудиороликов
						li  
							a(href="#") Лицензия РАО и ВАИС
					li  
						a(href="#") Кейсы
					li  
						a(href="#") Отзывы и благодарности
					li  
						a(href="#") Документы и оплата
					li  
						a(href="#") Вопросы и ответы
					li  
						a(href="#") Блог
					li  
						a(href="#") Новости
					li  
						a(href="#") Контакты
		.col-6.hidden-xs
			.mapsite-banner
				.mapsite-logo 
					img(src="/images/logo.svg", alt="")

// footer start 

.stub-footer
include ../../blocks/footer.pug

// footer end  