include ../../default/build-header

// contacts page content start
+roofContent("404", false)
	.page.main-grid.page-404
		.col-1.hidden-md.hidden-sm.hidden-xs
		.col-4.col-sm-12.img-404-container
			.img-404
		.col-6.col-md-7.col-sm-12
			.vertical-align
				div
					h2 Извините, страница, которую вы ищете, не существует
					.btn-container 
						a.btn.btn--orange(href="/") На главную

// footer start 

.stub-footer
include ../../blocks/footer.pug

// footer end  