.blog
  position: relative
  overflow: hidden
  &-item
    border: 1px solid $grayColorSecond
    position: relative
    overflow: hidden
    border-radius: 20px
    margin: 0 0 ($remSize*2)
    a
      text-decoration: none
    h3
      font-size: $standartSize
      color: $violetColor
      font-weight: 500
      margin: 0 0 26px
      line-height: 1.6
      a:hover
        color: $orangeColor
  &-item-hash
    font-size: $smallSize
  &-item-info
    padding: 15px 30px
  &-item-img
    height: 210px
  &-item-bottom
    display: flex
    justify-content: space-between
  &-item-link
    color: $violetColor
    margin: auto 0
    font-weight: 500
    font-size: $smallSizeSecond
    a
      text-decoration: underline
    &:hover
      color: $orangeColor
      a
        text-decoration: none
@media (max-width: 1240px)
  .marketing-item-info
    padding: 15px 15px

@media (max-width: 1024px)
  .marketing-item h3
    margin: 0 0 15px
  .marketing-item-info
    padding: 15px 15px
  .marketing-item-hash.mobile
    display: block
