.blog
  position: relative
  overflow: hidden
  &-item
    border: 1px solid $grayColorSecond
    position: relative
    overflow: hidden
    border-radius: 20px
    margin: 0 0 ($remSize*2)
    a
      text-decoration: none
    h3
      font-size: $standartSize
      color: $violetColor
      font-weight: 500
      margin: 0 0 26px
      line-height: 1.6
      a:hover
        color: $orangeColor

  &-item-info
    padding: 15px 30px
    height: calc(100% - 210px)
    display: flex
    flex-direction: column
    justify-content: space-between
  &-item-img
    height: 210px
  &-item-bottom
    display: flex
    justify-content: space-between
  &-item-hash a
    font-size: $smallSize
    color: $violetColor
    text-decoration: underline
    &:hover
      color: $orangeColor
      text-decoration: none
  &-item-data
    color: $grayColor
    font-size: $smallSizeSecond
@media (max-width: 1240px)
  .marketing-item-info
    padding: 15px 15px

@media (max-width: 1024px)
  .marketing-item h3
    margin: 0 0 15px
  .marketing-item-info
    padding: 15px 15px
  .marketing-item-hash.mobile
    display: block
