.blog-detail-main
  margin: 0 0 45px
.blog-editor
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
.editor-bottom
  display: flex
  justify-content: space-between
  font-size: $smallSizeSecond
  .views
    color: $violetColor
    i
      margin-right: 3px
.editor-cards
  margin: 0 0 15px
.avatar-editor
  width: 85px
  height: 85px
  border-radius: 100%
  display: inline-block
  vertical-align: middle
.info-editor
  display: inline-block
  width: calc(100% - 90px)
  vertical-align: middle
  padding-left: 15px
  font-size: $smallSizeSecond
  h3
    color: $violetColor
    font-size: $standartSizePlus
    font-weight: 500

.blog-detail-img
  height: 100%
  min-height: 320px
  border-radius: 20px
  position: relative
  overflow: hidden
  .img-cover
    height: 100%

.blog-detail-content
  h3
    text-align: center
    color: $violetColor
    font-size: $mediumSizePlusPlus
    margin: 30px 0 15px
  p
    margin: 0 0 15px
  img
    width: 100%
