.about-advantages
	.about-head.main-full
		h2  Преимущества
	.main-grid.about-advantages-grid
		.col-3
			.cases-results-item 
				.cases-results-circle.cases-results-circle--large 
					b 1
				.cases-results-text 
					| Собственное аудиотрансляционное оборудование
		.col-3
			.cases-results-item 
				.cases-results-circle.cases-results-circle--large 
					b 2
				.cases-results-text 
					| Бесплатная установка за 14 дней в любой точке РФ
		.col-3
			.cases-results-item 
				.cases-results-circle.cases-results-circle--large 
					b 3
				.cases-results-text 
					| Автономная работа эфира при отключении интернета
		.col-3
			.cases-results-item 
				.cases-results-circle.cases-results-circle--large 
					b 4
				.cases-results-text 
					| Лицензионный музыкальный контент
		.col-3
			.cases-results-item 
				.cases-results-circle.cases-results-circle--large 
					b 5
				.cases-results-text 
					| Создание аудиорекламы любой сложности
		.col-3
			.cases-results-item 
				.cases-results-circle.cases-results-circle--large 
					b 6
				.cases-results-text 
					| Персональный менеджер сопровождения
		.col-3
			.cases-results-item 
				.cases-results-circle.cases-results-circle--large 
					b 7
				.cases-results-text 
					| Горячая линия поддержки 24/7
		.col-3
			.cases-results-item 
				.cases-results-circle.cases-results-circle--large 
					b 8
				.cases-results-text 
					| Бесплатное сервисное обслуживание
