.about-geography
  .about-head.main-full
    h2 География работы
    h3 Подключаем систему аудиомаркетинга по всей России
  .main-grid 
    .col-7.geography-img
      .img-cover
        img(src="/images/zone.jpg", alt="")
      span Наша зона покрытия
    .col-5.geography-text-container
      .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .main-grid.geography-list
    .col-3
      ul.custom-disk
        li Республика Адыгея (Адыгея)
        li Республика Башкортостан
        li Республика Бурятия
        li Республика Алтай
        li Республика Дагестан
        li Республика Ингушетия
        li Кабардино-Балкарская Республика
        li Республика Калмыкия
        li Карачаево-Черкесская Республика
        li Республика Карелия
        li Республика Коми
        li Республика Марий Эл
        li Республика Мордовия
        li Республика Саха (Якутия)
        li Республика Северная Осетия - Алания
        li Республика Татарстан (Татарстан)
        li Республика Тыва
        li Удмуртская Республика
        li Республика Хакасия
        li Чеченская Республика
        li Чувашская Республика – Чувашия
    .col-3
      ul.custom-disk
        li Алтайский край
        li Краснодарский край
        li Красноярский край
        li Приморский край
        li Ставропольский край
        li Хабаровский край
        li Амурская область
        li Архангельская область
        li Астраханская область
        li Белгородская область
        li Брянская область
        li Владимирская область
        li Волгоградская область
        li Вологодская область
        li Воронежская область
        li Ивановская область
        li Иркутская область
        li Калининградская область
        li Калужская область
        li Камчатская область
        li Кемеровская область
        li Кировская область
        li Костромская область
        li Курганская область
    .col-3
      ul.custom-disk
        li Алтайский край
        li Краснодарский край
        li Красноярский край
        li Приморский край
        li Ставропольский край
        li Хабаровский край
        li Амурская область
        li Архангельская область
        li Астраханская область
        li Белгородская область
        li Брянская область
        li Владимирская область
        li Волгоградская область
        li Вологодская область
        li Воронежская область
        li Ивановская область
        li Иркутская область
        li Калининградская область
        li Калужская область
        li Камчатская область
        li Кемеровская область
        li Кировская область
        li Костромская область
        li Курганская область
    .col-3
      ul.custom-disk
        li Алтайский край
        li Краснодарский край
        li Красноярский край
        li Приморский край
        li Ставропольский край
        li Хабаровский край
        li Амурская область
        li Архангельская область
        li Астраханская область
        li Белгородская область
        li Брянская область
        li Владимирская область
        li Волгоградская область
        li Вологодская область
        li Воронежская область
        li Ивановская область
        li Иркутская область
        li Калининградская область
        li Калужская область
        li Камчатская область
        li Кемеровская область
        li Кировская область
        li Костромская область
        li Курганская область
