.main-grid.about-main
  .col-6
    h2 YRadio – профессиональное музыкальное оформление пространств для различных сфер бизнеса.
    h3 Мы создадим полный комплекс аудиоинструментов, которые помогут покупателям запомнить именно Вас
  .col-6
    .about-banner-container
      .about-banner
      h3 
        b Y
        em Radio