.about-numbers  
  .about-head.main-full
    h2  Мы в цифрах
  .main-grid.about-numbers-grid
    .col-4
      .about-numbers-item 
        .about-numbers-num > 2400
        .about-numbers-text Озвученных объектов
    .col-4
      .about-numbers-item 
        .about-numbers-num 43
        .about-numbers-text Региона РФ работают с нами
    .col-4
      .about-numbers-item 
        .about-numbers-num 260
        .about-numbers-text Населенных пунктов присутствия
    .col-4
      .about-numbers-item 
        .about-numbers-num 600 100
        .about-numbers-text Озвученных объектов
    .col-4
      .about-numbers-item 
        .about-numbers-num 1 714 00
        .about-numbers-text Охват аудитории за день вещания
    .col-4
      .about-numbers-item 
        .about-numbers-num MOST
        .about-numbers-text Собственная разработка управления эфиром