.about-possibility
	.about-head.main-full
		h2  Возможности YRadio
		h3  Мы разработаем голос для Вашего бизнеса, который станет эффективным каналом коммуникации с потребителями. Создайте благоприятную атмосферу Вашего пространства для пребывания сотрудников, клиентов и партнеров вместе с YRadio.
	.main-grid.about-possibility-grid
		.about-possibility-item.col-3
			img(src="/images/temp/a1.svg", alt="")
			div Уникальные плейлисты и эксклюзивная музыка — легально
		.about-possibility-item.col-3
			img(src="/images/temp/a2.svg", alt="")
			div Создание аудиороликов —профессионально
		.about-possibility-item.col-3
			img(src="/images/temp/a3.svg", alt="")
			div Монтаж и подключение оборудования — бесплатно
		.about-possibility-item.col-3
			img(src="/images/temp/a4.svg", alt="")
			div Единая система управления контентом — удобно
	.btn-container_section
		a(href="#").btn.btn--orange.btn--anim.element-btn(data-element="2")
			span Оформить заявку на подключение 
			i