.about-reviews
	.about-head.main-full
		h2  Отзывы о нашей работе
	.reviews-owl.owl-carousel 
		+reviewsItem("Alex But","Должность специалиста") 
		+reviewsItem("Alex But","Должность специалиста") 
		+reviewsItem("Alex But","Должность специалиста") 
		+reviewsItem("Alex But","Должность специалиста") 
		+reviewsItem("Alex But","Должность специалиста") 