.about-services.main-full 
  .main-grid
    .col-6
      h2 Услуги
      .text Аудиомаркетинг – эффективное средство взаимодействия с целевой аудиторией посредством музыкальных и рекламных инструментов. Профессионально подобранное музыкальное сопровождение создает благоприятную атмосферу, обеспечивает узнаваемость бренда, способствует увеличению продаж и лояльности со стороны потребителей.
      .btn-container 
        a.btn.btn--orange.btn--anim(href="#") 
          span Отправить
          i
    .col-1
    .col-5
      ul.ln.about-services-list
        li.active Фоновая музыка для Вашего бизнеса
        li Корпоративное радио
        li Рекламная площадка
        li Аудиобрендирование
        li Корпоративный информатор
        li Производство аудиороликов
        li Лицензия РАО и ВОИС