.about-team
  .about-head.main-full
    h2 Наша команда
    h3 YRadio – команда специалистов, имеющих значительный опыт реализации проектов по аудиосопровождению любой сложности.
    h4 Вместе мы найдем идеальное звучание для Вашего бизнеса!  
  .about-team-slider.main-full.owl-about-team.owl-carousel
    each val in ["","","",""]
      .about-team-item.main-grid   
        .about-team-face.col-5
          .img-cover
            img(src="/images/temp/team-face.jpg", alt="")
        .about-team-info.col-7
          h3 Оксана Школина
          h4 Генеральный директор
          .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
