mixin itemMarketing( name, img, hash, link)
  .marketing-item.col-3
    .marketing-item-img.img-cover
      img(src= img, alt="")
    .marketing-item-info
      h3
        a(href="#")= name
      .marketing-item-bottom 
        .marketing-item-hash
          a(href="#")= hash
        .marketing-item-link 
          a(href="#")= link