mixin itemMarketing( name, img, hash, link)
  .marketing-item.col-3.col-xs-12
    .marketing-item-img.img-cover
      img(src= img, alt="")
    .marketing-item-info
      .marketing-item-hash.mobile.hidden
        a(href="#")= hash
      h3
        a(href="#")= name
      .marketing-item-bottom 
        .marketing-item-hash.hidden-sm
          a(href="#")= hash
        .marketing-item-link 
          a(href="#")= link