mixin selectionItem(name,img,length,pause)     
  .selection-item 
    .selection-item-img.img-cover
      img(src=img)
    .selection-item-line
      .selection-item-line--active
        .selection-item-circle 
    .selection-item-info
      div
        .selection-item-control 
      h3= name 