doctype html
html
	// head start
	include head.pug 
	// head end
	include ../../all-mixin/connect-mixins.pug  
	body 
		// popup-menu start
		include ../popup/menu.pug 
		// popup-menu end
    
		// popup-form start
		include ../popup/backcall.pug
		// popup-form end

		// popup-search start
		include ../popup/search.pug
		// popup-search end

		// header start
		include header.pug
		// header end