footer
  .main-grid
    .footer-info.col-3
      .logo-container
        a.logo(href="./index.html")
          img(src="/images/logo-footer.svg")
      div Больше, чем радио
      +social(["vw","iw","tlw"])
    .feedback-container.col-3
      .feedback
        .phone
          a(href="#") 
            .phone-ico-yellow
            span + 7 (921) 789 - 65 - 31
        .address
          .marker-ico
          span 656006, г. Барнаул, ул. Малахова, 177Е, офис 711
        .mail
          a(href="#")
            .mail-ico-yellow
            span lead@yradio.ru
    nav.nav-1.col-3
      ul
        each val in ["О  компании","Акции","Кейсы","Документы и оплата","Контакты","Вопросы и ответы","Новости","Блог"]
          li  
            a(href="#") 
              = val
    nav.nav-2.col-3
      h3 Услуги
      ul
        each val in ["Фоновая музыка","Корпоративное радио","Аудиобрендирование","Рекламная площадка","Корпоративный информатор","Производство аудиороликов","Лицензия РАО и ВОИС"]
          li  
            a(href="#") 
              = val
    .social-container.col-3
      .create
        a(href="#") 
