header
	.main-grid.headline
		.vertical-align.col-6
			a.logo(href="#") 
				img(src="/images/logo.svg", alt="")
			.nav-delimetr
			nav.header-nav
				ul.custom-disk
					each val in ["Услуги","Кейсы","Акции","О компании","Контакты"]
						li
							a(href="#")
								= val
		.vertical-align.col-6.header-feedback
			.header-phone
				a(href="#")  8 800 775-99-55
					i 24/7
			a(href="#").btn.btn--orange.element-btn(data-element="1") Заказать звонок
		.hamburger-container.vertical-align.col-1
			a(href="#").hamburger-btn.element-btn(data-element="0")
.stub