.services-main-detail
  margin-top: 36px
  position: relative
  overflow: hidden
  @include bgImageEl("/images/temp/services/1.svg")
  color: $whiteColor
  background: $violetBg
  border-radius: 20px
  padding: 0px 30px 0px
  h1,h2
    color: inherit
    text-align: left
    margin: 0
    padding: 0
  h2
    font-weight: 400
    font-size: $standartSizePlus
  h1
    margin: 0 0 5px
  h2
    margin: 0 0 30px
  h3
    color: $whiteColor
    font-weight: 400
    font-size: $standartSize
    margin: 0 0 5px
.services-main-info
  padding: 45px 0px
  // max-width: 450px
  margin: 0 auto
.services-main-img
  text-align: center
  height: 100%
  img
    max-width: 318px
    height: 100%
    object-fit: contain
.services-advantages .main-grid
  max-width: 1100px

.services-advantages-item
  text-align: center
  h3
    font-size: inherit
    font-weight: inherit
    color: $grayColor
  img
    margin: 0 0 30px
.services-qwiz-container
  padding: 0 15px
.services-qwiz
  max-width: 900px
  border: 1px solid $grayColorSecond
  font-size: $standartSizePlus
  font-weight: 500
  border-radius: 20px
  padding: 30px
  margin-bottom: 75px
  p
    margin: 0 0 30px
  h2
    color: $violetColor
    font-size: $mediumSizePlus
    margin: 0 0 30px
  .qwiz-form
    margin-top: 60px

    .qwiz-form-line
      display: flex
      justify-content: space-between
    .btn
      width: 170px
    .input-decorate
      max-width: 450px

.services-advantages-violet
  background-color: $violetColor
  padding: 30px 0
  color: $whiteColor
  .main-grid
    max-width: 900px
  h2, .subtitle
    text-align: center
  h2
    color: $whiteColor
    margin: 0 0 15px
  .subtitle
    color: $orangeColor
    font-size: 22px
    font-weight: 400
    margin: 0 0 0px
.violet-item
  background-color: $violetColor
  color: $whiteColor
  border-radius: 20px
  padding: 15px 30px
  height: 100%
.border-container
  grid-gap: 30px
.border-item
  border: 1px solid $grayColorSecond
  border-radius: 20px
  padding: 15px 30px
  height: 100%
.border-img-item
  border: 1px solid $grayColorSecond
  border-radius: 20px
  padding: 15px 30px
  height: 100%
  text-align: center
.border-violet-container
  grid-gap: 30px
.border-violet-item
  border: 1px solid $violetColor
  border-radius: 20px
  padding: 15px 30px
  height: 100%
  h3
    color: $violetColor
    font-size: $mediumSizePlus
    margin: 0 0 15px
.services-tasks
  margin: 0 0 75px
.services-tasks-item
  font-size: $smallSizeSecond
  max-width: 240px
  margin: 0 auto
  h3
    color: $violetColor
    font-size: $standartSizePlus
    margin: 0 0 14px
.services-tasks-img
  margin: 0 0 15px

.services-tariff-item
  background-color: $violetColor
  color: $whiteColor
  border-radius: 20px
  padding: 30px
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  h3
    margin: 0 0 30px
    color: inherit
    font-size: $mediumSizePlus
  .custom-disk li:before
    background-color: $whiteColor

.services-tariff-bottom
  display: flex
  justify-content: space-between
.services-tariff-price
  color: $orangeColor

.fines
  background-color: $violetColor
  color: $whiteColor
  border-radius: 20px
  padding: 30px
  max-width: 920px
  margin-bottom: 75px
  text-align: center
  h2, h3
    color: $orangeColor
    font-size: $mediumSizePlus
    margin: 0 0 15px
  h3
    color: $whiteColor
  p
    margin: 0 0 30px
.services-stage-grid
  grid-gap: 30px
.services-stage-item
  display: flex
  justify-content: space-between
.services-stage-circle
  width: 112px
  height: 112px
  display: inline-flex
  text-align: center
  font-size: $hugesize
  color: $orangeColor
  border-radius: 100%
  background-color: $violetColor
  b
    display: inline-block
    margin: auto
.services-stage-text
  display: inline-block
  font-size: $smallSizeSecond
  padding-left: 15px
  margin: auto 0
.tariff-radio-grid
  grid-gap: 30px
.tariff-radio-item
  background-color: $violetColor
  color: $whiteColor
  border-radius: 20px
  padding: 30px
  height: 100%
  display: flex
  flex-direction: column

  h3
    color: inherit
    font-size: $mediumSizePlus
    margin: 0 0 5px
  h4
    color: inherit
    font-size: $standartSize
    font-weight: 40
  .custom-disk
    li
      margin: 0 0 10px
      font-size: $smallSizeSecond
      &:before
        background-color: $whiteColor
  .btn-container
    margin-top: auto
.tariff-radio-head
  min-height: 93px
  margin: 0 0 15px
.tariff-radio-price
  font-weight: 700
  font-size: $mediumSizePlus
  color: $orangeColor

.tariff-radio-hint
  font-size: $smallSizeSecond
  h3
    font-size: $standartSizePlus
    margin: 0 0 5px
    color: $violetColor
  ul
    margin: 0 0 30px
  p
    margin: 0

.price-clips-container
  display: grid
  grid-template-columns: repeat(5,1fr)
  grid-gap: 30px
.price-clips-item
  border: 1px solid $violetColor
  border-radius: 20px
  height: 148px
  display: flex
  text-align: center
  span,b
    display: block
  span
    color: $violetColor
  b
    font-weight: 700
    font-size: $mediumSizePlus
    color: $orangeColor
.price-clips-in
  margin: auto

@media (max-width: 768px)
  .services-main-detail
    max-width: 510px
  .services-main-info
    padding-top: 15px
    .btn-container
      text-align: center
    .btn
      max-width: 500px
      width: 100%

  .services-tariff-grid
    grid-gap: 30px
  .cases-results-container
    grid-gap: 30px
    padding-bottom: 30px
  .price-clips-container
    padding-bottom: 30px

@media (max-width: 576px)
  .services-main-detail
    gap: 0
  .services-main-info
    padding: 25px 0px
    h2
      font-size: $smallSizeSecond
    h1
      font-size: 24px
    .btn-container
      text-align: center
  .services-tasks-item h3
    margin: 0px 0 5px

  .services-tasks
    margin: 0
  .services-tasks-img
    text-align: center
    margin: 0
  .services-tasks-item
    margin-bottom: 30px
  .services-tariff-bottom
    display: block
  .services-tariff-price
    margin: 0 0 15px
    .btn-container
      text-align: center
  .services-main-img img
    max-width: 100%
  .advantages-item
    text-align: left
    max-width: 290px
    width: 100%
    img
      margin-right: 30px
      width: 50px
      height: 50px
    h3
      display: inline-block
      vertical-align: top
      width: calc(100% - 90px)
  .services-qwiz
    margin-bottom: 0
  .services-qwiz .qwiz-form .qwiz-form-line
    display: block
  .services-qwiz
    font-size: 14px
  .services-qwiz h2
    font-size: 18px
    margin: 0 0 10px
  .services-qwiz .qwiz-form
    margin-top: 20px
  .qwiz-form-line
    text-align: center
  .services-advantages-violet .subtitle
    font-size: 14px
  .services-advantages-violet
    .advantages-item
      text-align: center
      h3
        width: 100%
    .advantages-item img
      width: 100px
      height: 100px
      margin: 0 auto 30px
  .fines
    margin: 0 15px
    width: calc(100% - 30px)
    h2, h3
      font-size: 20px
