.news
  position: relative
  overflow: hidden

.news-item
  margin-bottom: 30px

  a
    color: $orangeColor
  h3
    font-size: $mediumSize
    margin: 0 0 5px
    color: $violetColor
    a
      text-decoration: none
      color: inherit
      &:hover
        color: $orangeColor

.news-item-img
  height: 100%
  min-height: 290px
  display: block
  border-radius: 20px
  background-position: center
  img
    @include positionElement(100%,100%,0,0)
.news-item-info
  height: 100%
  display: flex
  flex-direction: column
  .btn-container
    margin-top: auto
.news-item-date
  font-size: $smallSize
  color: $grayColor
  margin: 0 0 15px
.news-item-text
  margin: 0 0 15px
  font-size: $smallSizeSecond
.mobile-news-item-footer
  display: none
@media (max-width: 1280px)
  .news-item-info
    padding: 15px 15px

@media (max-width: 768px)
  .news-item
    gap: 0
  .news-item-info
    padding: 0 15px
  .news-item-img
    min-height: 200px
  .mobile-news-item-footer
    display: flex
    justify-content: space-between
    margin-top: auto
    .btn-container,
    .news-item-date
      margin: 0
@media (max-width: 576px)
  .news-item-info,
  .news-item
    padding: 0
