
$gridCount: 12
$indent: 15px
$maxWidth: 1320px
$gap: 30px
$burgerDesctop: 1

.main-grid
  display: grid
  grid-template-columns: repeat($gridCount, 1fr)
  grid-column-gap: $gap
  padding: 0 $indent
  max-width: $maxWidth
  margin: 0 auto
.form-grid
  display: grid
  grid-template-columns: repeat($gridCount, 1fr)
  grid-column-gap: $gap
.catalog-grid
  grid-gap: $gap
.main-full
  padding: 0 $indent
  max-width: $maxWidth
  margin: 0 auto

section
  padding: 90px 0 0px
  .title-section,
  .subtitle-section
    text-align: center
  .title-section
    font-size: $mediumSizePlusPlus
    margin: 0 0 $remSize
    color: $violetColor
    span
      color: $orangeColor
  .subtitle-section
    font-size: $standartSizePlusPlus
    color: $orangeColor
    margin: 0
    font-weight: 400
  .head-section
    margin-bottom: ($remSize * 3)
.btn-container_section
  padding: 30px 0 15px
  text-align: center

.breadcrumbs
  border-bottom: 1px solid $grayColor
  padding: 1rem 0
  a
    text-decoration: none
    color: $blackColor
    &:hover
      text-decoration: underline
  span
    margin: 0 5px

.content
  min-height: calc(100vh - 450px)
  h1
    padding: 30px 0

@if $burgerDesctop == 1
  .hamburger-container
    display: none

  @media screen and (max-width: 992px)
    .hamburger-container
      display: block
  @media screen and (max-width: 414px)
    .hamburger-container
      display: block

/*detail end*/
@media (max-width: 1024px)
  section
    padding: 45px 0 0px
