
$gridCount: 12
$indent: 15px
$maxWidth: 1320px
$gap: 30px

.main-grid
	display: grid
	grid-template-columns: repeat($gridCount, 1fr)
	grid-column-gap: $gap
	padding: 0 $indent
	max-width: $maxWidth
	margin: 0 auto

.form-grid
	display: grid
	grid-template-columns: repeat($gridCount, 1fr)
	grid-column-gap: $gap
.catalog-grid
	grid-gap: $gap
.main-full
	padding: 0 $indent
	max-width: $maxWidth
	margin: 0 auto

section
	padding: 90px 0 0px
	position: relative
	overflow: hidden
	.title-section,
	.subtitle-section
		text-align: center
	.title-section
		font-size: $mediumSizePlusPlus
		margin: 0 0 $remSize
		color: $violetColor
		span
			color: $orangeColor
	.subtitle-section
		font-size: $standartSizePlusPlus
		color: $orangeColor
		margin: 0
		font-weight: 400
	.head-section
		margin-bottom: ($remSize * 3)
.btn-container_section
	padding: 30px 0 15px
	text-align: center

.breadcrumbs
	font-size: $smallSize
	padding: 5px 0
	em
		font-size: 0
		margin-left: 5px
		@include icoEl(20px, 20px, "../images/controls/carret-right-gray.svg", middle, 130%)
	a
		text-decoration: none
		color: $blackColor
		&:hover
			text-decoration: underline
	span
		margin: 0 5px

.content
	min-height: calc(100vh - 600px)
	h1
		padding: 23px 0 30px
		text-align: center
		color: $violetColor

/*detail end*/
@media (max-width: 1024px)
	section
		padding: 45px 0 0px
@media (max-width: 576px)
	section
		.title-section
			font-size: $mediumSize
	.btn-container_section
		.btn
			margin: 0 0 15px
